
.login{
    justify-items: center;
    display: grid;
    
}

.login-icon{
    text-align: center;
}





.label {
    color: #20505f;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    /* margin: 60px; */
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}


input {
    /* width: 60%; */
    /* height: 20px; */
    background: white;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.button{
    background:#116D6E;
    color: white;
}


.button:hover {
    background: #0d4d4e;
    color: white;
}

.forgot-password{
    float: right;
}

.link-color {
    color: rgb(199, 98, 98);
    text-decoration: none;
}

.nav-link{
    /* color: rgb(199, 98, 98); */
    text-decoration: none;
}

.login-card{
    
    border: white;
    /* box-shadow: 10px 20px 50px #8d8a8a; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom: 10px solid #116D6E;
    /* border-top: 10px solid #116D6E;
    border-left: 10px solid #116D6E;
    border-right: 10px solid #116D6E; */
    
    

}