.sidebar{
    /* float: left; */
    margin-left: -10px;
    margin-bottom: 10px;
    /* border-radius: 0px; */
    /* background-color: rgb(233, 229, 229); */
}
.sidebarLogo {
  
    /* margin-left: -35px; */
    margin-left: 30px;
    position: absolute;
    margin-top: -40px;
    
}
.noborder{
    border: none;
    /* background-color: rgb(233, 229, 229); */
}
.sidebarLogoMobile {
  
    margin-left: -35px;
    /* margin-left: 30px; */
    position: absolute;
    margin-top: 20px;
    
}
.float-sidebar{

    float: left;
    text-align: left;
    /* background-color: rgb(233, 229, 229); */
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-left: 50px;
    
}
.float-sidebar:hover{
    background-color: rgb(187, 182, 182);
    /* border-top-right-radius: 500px;
    border-bottom-right-radius: 500px; */
}
.float-sidebar-active{
    /* background-color: white; */
    float: left;
    text-align: left;
    background-color: rgb(233, 229, 229);
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    margin-left: 50px;
    /* border-bottom: 2px solid rgb(247, 244, 244); */
}
#nameMobile{
    display: block;
    position: absolute;
    margin-left: 110px;
    margin-top: -50px;
}
#postMobile{
    position: absolute;
    margin-left: 130px;
    margin-top: 50px;
}